.classpath
.project
.settings/
.toolstarget
.vs/
.vscode/
*.dbmdl
*.jfm

.git/
.gitignore

node_modules/
npm-debug.log

bin/
obj/

charts/
secrets.dev.yaml
values.dev.yaml

docker-compose*
compose*
Dockerfile*

*.user